<ion-content padding>

	<div *ngIf="listArray && listArray.length > 0; else noElements">
		<div *ngFor="let list of listArray">
			<ion-card>
				<img [src]="imageUrl" class="img-meme"/>
				<ion-card-content>
					<ion-card-title>
						{{list.title}}
					</ion-card-title>
					<p>
						{{list.description}}
					</p>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
	<ng-template #noElements>
		<ion-card>
			<ion-card-header>
				<ion-card-title>Ops...</ion-card-title>
				<ion-card-subtitle>non hai nessuna lista!</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content>
				Puoi andare nel Tab di Insert per crearne una nuova!
			</ion-card-content>
		</ion-card>
	</ng-template>

</ion-content>