<ion-content padding>

	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<form [formGroup]="form">

			<ion-item>
				<ion-label position="floating">Insert Title</ion-label>
				<ion-input type="text" required formControlName="title"></ion-input>
			</ion-item>
			<div [hidden]="!form.get('title').touched && !form.get('title').dirty" class="form-error">
				<div [hidden]="!form.get('title').errors?.minlength">This field has min. 3
					characters.
				</div>
				<div [hidden]="!form.get('title').errors?.maxlength">This field has max. 10
					characters.
				</div>
				<div [hidden]="!form.get('title').errors?.required">This field is required.
				</div>
			</div>

			<ion-item>
				<ion-label position="floating">Insert Description</ion-label>
				<ion-input type="text" required formControlName="description"></ion-input>
			</ion-item>
			<div [hidden]="!form.get('description').touched && !form.get('description').dirty" class="form-error">
				<div [hidden]="!form.get('description').errors?.minlength">This field has min. 3
					characters.
				</div>
				<div [hidden]="!form.get('description').errors?.maxlength">This field has max. 10
					characters.
				</div>
				<div [hidden]="!form.get('description').errors?.required">This field is required.
				</div>
			</div>

			<ion-item>
				<ion-label position="floating">Choose Label</ion-label>
				<ion-select value="personal" okText="Okay" cancelText="Dismiss" formControlName="label">
					<ion-select-option value="personal">Personal</ion-select-option>
					<ion-select-option value="work">Work</ion-select-option>
					<ion-select-option value="school">School</ion-select-option>
				</ion-select>
			</ion-item>
			<div [hidden]="!form.get('label').touched && !form.get('label').dirty" class="form-error">
				<div [hidden]="!form.get('label').errors?.required">This field is required.
				</div>
			</div>

			<ion-item>
				<ion-label position="floating">Start Date</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="startDate">
				</ion-datetime>
			</ion-item>
			<div [hidden]="!form.get('startDate').touched && !form.get('startDate').dirty" class="form-error">
				<div [hidden]="!form.get('startDate').errors?.required">This field is required.
				</div>
			</div>
			<ion-item>
				<ion-label position="floating">End Date</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="endDate">
				</ion-datetime>
			</ion-item>
			<div [hidden]="!form.get('endDate').touched && !form.get('endDate').dirty" class="form-error">
				<div [hidden]="!form.get('endDate').errors?.required">This field is required.
				</div>
			</div>
		</form>
	</ion-list>

	<ion-button expand="block" (click)="saveLista()" [disabled]="form.invalid">Save Lista</ion-button>

</ion-content>